<div class="w-100 p-5">
  <div class="bg-secondary text-light rounded p-5">
    <!-- En-tête du formulaire -->
    <div class="text-center m-3">
      <h2>Bienvenue</h2>
      <p>
        Connectez-vous pour accéder à votre dashboard et gérer vos activités
      </p>
    </div>

    <!-- Formulaire -->
    <form (ngSubmit)="login()" class="m-5">
      <div class="rounded border border-info m-3">
        <!-- Email -->
        <div class="m-3 d-flex justify-content-between align-items-center">
          <label for="email">Email</label>
          <input
            [(ngModel)]="email"
            name="email"
            id="email"
            type="email"
            required
            placeholder="Adresse email"
          />
        </div>

        <!-- Mot de passe -->
        <div class="m-3 d-flex justify-content-between align-items-center">
          <label for="password" class="sr-only">Mot de passe</label>
          <input
            [(ngModel)]="password"
            name="password"
            id="password"
            type="password"
            required
            placeholder="Mot de passe"
          />
        </div>
      </div>

      <!-- Bouton de connexion -->
      <div class="w-100 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">
          <div class="d-flex justify-center align-items-center">
            <p class="m-2">Se connecter</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-unlock"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z"
                />
              </svg>
            </div>
          </div>
        </button>
      </div>
      <!-- Message d'erreur -->
      <div class="text-center">
        <p *ngIf="errorMessage" class="mt-4">
          {{ errorMessage }}
        </p>
      </div>
    </form>
  </div>
</div>
